.navbar-brand{
	padding: 0px 15px 5px;
}
.navbar{
	background-color: #23415C;
	padding: 1% 0;
	font-size: 1.2em;
}
 .navbar-inverse .navbar-nav li a{

	color: #D5D5D5;
}
.navbar-inverse .navbar-nav li a:hover{

	color: #FFF;
}
.navbar-inverse .navbar-nav li a.active{

	color: #FFF;
}
html,body{
	height:100%;
	width: 100%;
}
#home{
	background: url(img/mountains.jpeg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text{

	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.landing-text h1{
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
}
.fixed{
	background:url(img/background.jpg) no-repeat center center fixed;
	display: table;
	position: relative;
	height: 60%;
	width: 100%;
	background-size: cover;
}
footer{
	background-color: #23415C;
	padding: 5% 5% 5% 5%;
	color: #fff;
}
.icon{
	max-width: 200px;
}
.fa{
	padding: 15px;
	font-size: 25px;
	color: #FFF;

}
.fa:hover{
	text-decoration:none;
	color: #D5D5D5;
}
@media (max-width: 768px){
	.landing-text h1{
		font-size: 300%;
	} 
	.fa{
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		max-width: 100px;
		margin-top: 5%;
	}
}